<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<strong>Events:</strong>
<div class="container">
  <% @user.events.each do |event| %>
    <div class="row">
      <div class="col-md-2">
        <%= event.date%>
      </div>
      <div class="col-md-3">
        <%= event.location%>
      </div>
      <div class="col-md-6">
        <%= event.description%>
      </div>
      <div class="col-md-1">
        <%= link_to 'Edit', edit_event_path(event) %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
