<p>
  Hello <%= @current_user.name %> !!
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<h1>Attendees of Event </h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @event.attendees.each do |attendee| %>
    <tr>
      <td scope="row"><%= attendee.name%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<% if @event.creator_id == @current_user.id %>
  <td><%= button_to 'Destroy', @event, method: :delete, data: { confirm: "Are you sure to delete this event?" }, class: 'btn btn-danger'%></td>
<% end %>
<div>
  <p><%= @event.likes.count %> <%= (@event.likes.count) == 1 ? 'Like' : 'Likes'%>
  <% pre_like = @event.likes.find { |like| like.user_id == @current_user.id} %>
  <% if pre_like %>
    <%= button_to 'Unlike', event_like_path(@event, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Like', event_likes_path(@event), method: :post %>
  <% end %></p>
</div>
<div>  
  <%= render 'comments/form' %>
</div>

<div>
  <% @comments.each do |comment| %>
    [<%= comment.created_at.strftime("%I:%M %p; %d-%m-%y")%>] 
    <%= comment.user.name%> : 
    <%= comment.body %>
      <% if @current_user && @current_user == comment.user %>
        <%= button_to 'Destroy', event_comment_path(@event, comment), method: :delete, class: 'btn btn-danger'%>
      <% end %>

     <%= render 'answers/form', comment:comment%>

      <% comment.answers.each do |answer| %>
        <%= answer.user.name %> :
        <%= answer.body %>
        <% if @current_user && @current_user == answer.user %>
          <%= button_to 'Destroy', comment_answer_path(comment, answer), method: :delete, class: 'btn btn-danger'%>
        <% end %>
        <hr>
        <br>
      <% end %>
    <br>
  <% end %>
</div>

<div>
  <%= render 'user_feedbacks/form' %>
</div>
<div>
  <hr>
  <ul>
    <% @feedbacks.each do |feedback| %>
      <% if feedback.comment !=nil %>
        <li>
          <div class='review-rating' data-score = '<%= feedback.rating %>'></div>
          "<%= feedback.comment %>" by <%= feedback.user.name %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <hr>
</div>

<script>
  $('.review-rating').raty({
  readOnly: true,
  score: function() {
  return $(this).attr('data-score');
  },
  path: '/assets/'
  });
</script>
