<p>
  Hello <%= @current_user.name %> !!
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<h1>Attendees of Event </h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @event.attendees.each do |attendee| %>
    <tr>
      <td scope="row"><%= attendee.name%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
